<div
  class="p-4 font-bold w-full overflow-n overflow-y-scroll hide-scrollbar mb-20"
>
  <div class="header font-bold text-2xl flex justify- items-center p-4">
    <a
      href=""
      class="rounded-full bg-green-500 flex items-center px-2 py-1 me-4"
    >
      <span class="material-symbols-rounded text-3xl"> play_arrow </span>
    </a>
    Favorites
  </div>
  <!-- <div
    class="flex flex-col bg-red-500 flex overflow-x-scroll overflow-hidden hide-scrollbar"
  >
    asdasd
  </div> -->
  <table class="table-fixed divide-y-2 divide-green-500 bg-red bg-red- w-full">
    <thead class="text-left">
      <tr>
        <th class="p-4 font-normal text-gray-500">Song</th>
        <th class="p-4 font-normal text-gray-500">Artist</th>
        <th class="p-4 font-normal text-gray-500">Year</th>
        <th class="p-4 font-normal text-gray-500">Duration</th>
        <!-- <th></th> -->
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-900">
      <tr class="">
        <td class="p-4">
          <a href="" class="flex items-center">
            <img
              src="img/ben_and_ben_album.jpg"
              class="mx-4 rounded-full"
              alt=""
              height="48px"
              width="48px"
            />
            Araw-Araw
          </a>
        </td>
        <td class="p-4">
          <a href=""> Ben & Ben </a>
        </td>
        <td class="p-4 font-normal">1961</td>
        <td class="p-4 font-normal">3:00</td>
      </tr>
      <tr class="">
        <td class="p-4">
          <a href="" class="flex items-center">
            <img
              src="img/coj_album.jpg"
              class="mx-4 rounded-full"
              alt=""
              height="48px"
              width="48px"
            />
            Hayaan
          </a>
        </td>
        <td class="p-4">
          <a href=""> Cup of Joe </a>
        </td>
        <td class="p-4 font-normal">1961</td>
        <td class="p-4 font-normal">3:00</td>
      </tr>

      <tr class="">
        <td class="p-4">
          <a href="" class="flex items-center">
            <img
              src="img/ben_and_ben_album.jpg"
              class="mx-4 rounded-full"
              alt=""
              height="48px"
              width="48px"
            />
            Araw-Araw
          </a>
        </td>
        <td class="p-4">
          <a href=""> Ben & Ben </a>
        </td>
        <td class="p-4 font-normal">1961</td>
        <td class="p-4 font-normal">3:00</td>
      </tr>
      <tr class="">
        <td class="p-4">
          <a href="" class="flex items-center">
            <img
              src="img/coj_album.jpg"
              class="mx-4 rounded-full"
              alt=""
              height="48px"
              width="48px"
            />
            Hayaan
          </a>
        </td>
        <td class="p-4">
          <a href=""> Cup of Joe </a>
        </td>
        <td class="p-4 font-normal">1961</td>
        <td class="p-4 font-normal">3:00</td>
      </tr>
      <tr class="">
        <td class="p-4">
          <a href="" class="flex items-center">
            <img
              src="img/ben_and_ben_album.jpg"
              class="mx-4 rounded-full"
              alt=""
              height="48px"
              width="48px"
            />
            Araw-Araw
          </a>
        </td>
        <td class="p-4">
          <a href=""> Ben & Ben </a>
        </td>
        <td class="p-4 font-normal">1961</td>
        <td class="p-4 font-normal">3:00</td>
      </tr>
      <tr class="">
        <td class="p-4">
          <a href="" class="flex items-center">
            <img
              src="img/coj_album.jpg"
              class="mx-4 rounded-full"
              alt=""
              height="48px"
              width="48px"
            />
            Hayaan
          </a>
        </td>
        <td class="p-4">
          <a href=""> Cup of Joe </a>
        </td>
        <td class="p-4 font-normal">1961</td>
        <td class="p-4 font-normal">3:00</td>
      </tr>
      <tr class="">
        <td class="p-4">
          <a href="" class="flex items-center">
            <img
              src="img/ben_and_ben_album.jpg"
              class="mx-4 rounded-full"
              alt=""
              height="48px"
              width="48px"
            />
            Araw-Araw
          </a>
        </td>
        <td class="p-4">
          <a href=""> Ben & Ben </a>
        </td>
        <td class="p-4 font-normal">1961</td>
        <td class="p-4 font-normal">3:00</td>
      </tr>
      <tr class="">
        <td class="p-4">
          <a href="" class="flex items-center">
            <img
              src="img/coj_album.jpg"
              class="mx-4 rounded-full"
              alt=""
              height="48px"
              width="48px"
            />
            Hayaan
          </a>
        </td>
        <td class="p-4">
          <a href=""> Cup of Joe </a>
        </td>
        <td class="p-4 font-normal">1961</td>
        <td class="p-4 font-normal">3:00</td>
      </tr>
      <tr class="">
        <td class="p-4">
          <a href="" class="flex items-center">
            <img
              src="img/ben_and_ben_album.jpg"
              class="mx-4 rounded-full"
              alt=""
              height="48px"
              width="48px"
            />
            Araw-Araw
          </a>
        </td>
        <td class="p-4">
          <a href=""> Ben & Ben </a>
        </td>
        <td class="p-4 font-normal">1961</td>
        <td class="p-4 font-normal">3:00</td>
      </tr>
      <tr class="">
        <td class="p-4">
          <a href="" class="flex items-center">
            <img
              src="img/coj_album.jpg"
              class="mx-4 rounded-full"
              alt=""
              height="48px"
              width="48px"
            />
            Hayaan
          </a>
        </td>
        <td class="p-4">
          <a href=""> Cup of Joe </a>
        </td>
        <td class="p-4 font-normal">1961</td>
        <td class="p-4 font-normal">3:00</td>
      </tr>
      <tr class="">
        <td class="p-4">
          <a href="" class="flex items-center">
            <img
              src="img/ben_and_ben_album.jpg"
              class="mx-4 rounded-full"
              alt=""
              height="48px"
              width="48px"
            />
            Araw-Araw
          </a>
        </td>
        <td class="p-4">
          <a href=""> Ben & Ben </a>
        </td>
        <td class="p-4 font-normal">1961</td>
        <td class="p-4 font-normal">3:00</td>
      </tr>
      <tr class="">
        <td class="p-4">
          <a href="" class="flex items-center">
            <img
              src="img/coj_album.jpg"
              class="mx-4 rounded-full"
              alt=""
              height="48px"
              width="48px"
            />
            Hayaan
          </a>
        </td>
        <td class="p-4">
          <a href=""> Cup of Joe </a>
        </td>
        <td class="p-4 font-normal">1961</td>
        <td class="p-4 font-normal">3:00</td>
      </tr>
      <tr class="">
        <td class="p-4">
          <a href="" class="flex items-center">
            <img
              src="img/ben_and_ben_album.jpg"
              class="mx-4 rounded-full"
              alt=""
              height="48px"
              width="48px"
            />
            Araw-Araw
          </a>
        </td>
        <td class="p-4">
          <a href=""> Ben & Ben </a>
        </td>
        <td class="p-4 font-normal">1961</td>
        <td class="p-4 font-normal">3:00</td>
      </tr>
      <tr class="">
        <td class="p-4">
          <a href="" class="flex items-center">
            <img
              src="img/coj_album.jpg"
              class="mx-4 rounded-full"
              alt=""
              height="48px"
              width="48px"
            />
            Hayaan
          </a>
        </td>
        <td class="p-4">
          <a href=""> Cup of Joe </a>
        </td>
        <td class="p-4 font-normal">1961</td>
        <td class="p-4 font-normal">3:00</td>
      </tr>
      <tr class="">
        <td class="p-4">
          <a href="" class="flex items-center">
            <img
              src="img/ben_and_ben_album.jpg"
              class="mx-4 rounded-full"
              alt=""
              height="48px"
              width="48px"
            />
            Araw-Araw
          </a>
        </td>
        <td class="p-4">
          <a href=""> Ben & Ben </a>
        </td>
        <td class="p-4 font-normal">1961</td>
        <td class="p-4 font-normal">3:00</td>
      </tr>
      <tr class="">
        <td class="p-4">
          <a href="" class="flex items-center">
            <img
              src="img/coj_album.jpg"
              class="mx-4 rounded-full"
              alt=""
              height="48px"
              width="48px"
            />
            Hayaan
          </a>
        </td>
        <td class="p-4">
          <a href=""> Cup of Joe </a>
        </td>
        <td class="p-4 font-normal">1961</td>
        <td class="p-4 font-normal">3:00</td>
      </tr>
      <tr class="">
        <td class="p-4">
          <a href="" class="flex items-center">
            <img
              src="img/ben_and_ben_album.jpg"
              class="mx-4 rounded-full"
              alt=""
              height="48px"
              width="48px"
            />
            Araw-Araw
          </a>
        </td>
        <td class="p-4">
          <a href=""> Ben & Ben </a>
        </td>
        <td class="p-4 font-normal">1961</td>
        <td class="p-4 font-normal">3:00</td>
      </tr>
      <tr class="">
        <td class="p-4">
          <a href="" class="flex items-center">
            <img
              src="img/coj_album.jpg"
              class="mx-4 rounded-full"
              alt=""
              height="48px"
              width="48px"
            />
            Hayaan
          </a>
        </td>
        <td class="p-4">
          <a href=""> Cup of Joe </a>
        </td>
        <td class="p-4 font-normal">1961</td>
        <td class="p-4 font-normal">3:00</td>
      </tr>
      <tr class="">
        <td class="p-4">
          <a href="" class="flex items-center">
            <img
              src="img/ben_and_ben_album.jpg"
              class="mx-4 rounded-full"
              alt=""
              height="48px"
              width="48px"
            />
            Araw-Araw
          </a>
        </td>
        <td class="p-4">
          <a href=""> Ben & Ben </a>
        </td>
        <td class="p-4 font-normal">1961</td>
        <td class="p-4 font-normal">3:00</td>
      </tr>
      <tr class="">
        <td class="p-4">
          <a href="" class="flex items-center">
            <img
              src="img/coj_album.jpg"
              class="mx-4 rounded-full"
              alt=""
              height="48px"
              width="48px"
            />
            Hayaan
          </a>
        </td>
        <td class="p-4">
          <a href=""> Cup of Joe </a>
        </td>
        <td class="p-4 font-normal">1961</td>
        <td class="p-4 font-normal">3:00</td>
      </tr>
    </tbody>
  </table>
</div>
