<div class="p-4 font-bold w-full overflow-n overflow-y-scroll hide-scrollbar mb-20">
  <div class="header font-bold text-2xl flex justify-between items-center p-4">
    New Release !
    <a
      href=""
      class="text-lg font-normal text-gray-500 text-sm hover:text-green-500 active:text-green-600"
    >
      <span class="material-symbols-rounded"> chevron_right </span>
    </a>
  </div>

  <div class="mb-8 px-2 flex overflow-x-scroll overflow-hidden hide-scrollbar">
    <div
      class="card bg-gray-900 p-4 rounded-lg shadow-sm w-[200px] mx-2 flex-shrink-0"
    >
      <div class="card-image mb-2">
        <img
          src="img/ben_and_ben_album.jpg"
          class="rounded"
          alt=""
          height="200px"
          width="200px"
        />
      </div>
      <div class="card-body">
        <div class="title">Araw-Araw</div>
        <div class="description text-gray-500 text-sm font-normal">
          Ben & Ben
        </div>
      </div>
    </div>

    <div
      class="card bg-gray-900 p-4 rounded-lg shadow-sm w-[200px] mx-2 flex-shrink-0"
    >
      <div class="card-image mb-2">
        <img
          src="img/coj_album.jpg"
          class="rounded"
          alt=""
          height="200px"
          width="200px"
        />
      </div>
      <div class="card-body">
        <div class="title">Hayaan</div>
        <div class="description text-gray-500 text-sm font-normal">
          Cup of Joe
        </div>
      </div>
    </div>

    <div
      class="card bg-gray-900 p-4 rounded-lg shadow-sm w-[200px] mx-2 flex-shrink-0"
    >
      <div class="card-image mb-2">
        <img
          src="img/ben_and_ben_album.jpg"
          class="rounded"
          alt=""
          height="200px"
          width="200px"
        />
      </div>
      <div class="card-body">
        <div class="title">Araw-Araw</div>
        <div class="description text-gray-500 text-sm font-normal">
          Ben & Ben
        </div>
      </div>
    </div>

    <div
      class="card bg-gray-900 p-4 rounded-lg shadow-sm w-[200px] mx-2 flex-shrink-0"
    >
      <div class="card-image mb-2">
        <img
          src="img/coj_album.jpg"
          class="rounded"
          alt=""
          height="200px"
          width="200px"
        />
      </div>
      <div class="card-body">
        <div class="title">Hayaan</div>
        <div class="description text-gray-500 text-sm font-normal">
          Cup of Joe
        </div>
      </div>
    </div>

    <div
      class="card bg-gray-900 p-4 rounded-lg shadow-sm w-[200px] mx-2 flex-shrink-0"
    >
      <div class="card-image mb-2">
        <img
          src="img/ben_and_ben_album.jpg"
          class="rounded"
          alt=""
          height="200px"
          width="200px"
        />
      </div>
      <div class="card-body">
        <div class="title">Araw-Araw</div>
        <div class="description text-gray-500 text-sm font-normal">
          Ben & Ben
        </div>
      </div>
    </div>

    <div
      class="card bg-gray-900 p-4 rounded-lg shadow-sm w-[200px] mx-2 flex-shrink-0"
    >
      <div class="card-image mb-2">
        <img
          src="img/coj_album.jpg"
          class="rounded"
          alt=""
          height="200px"
          width="200px"
        />
      </div>
      <div class="card-body">
        <div class="title">Hayaan</div>
        <div class="description text-gray-500 text-sm font-normal">
          Cup of Joe
        </div>
      </div>
    </div>

    <div
      class="card bg-gray-900 p-4 rounded-lg shadow-sm w-[200px] mx-2 flex-shrink-0"
    >
      <div class="card-image mb-2">
        <img
          src="img/ben_and_ben_album.jpg"
          class="rounded"
          alt=""
          height="200px"
          width="200px"
        />
      </div>
      <div class="card-body">
        <div class="title">Araw-Araw</div>
        <div class="description text-gray-500 text-sm font-normal">
          Ben & Ben
        </div>
      </div>
    </div>

    <div
      class="card bg-gray-900 p-4 rounded-lg shadow-sm w-[200px] mx-2 flex-shrink-0"
    >
      <div class="card-image mb-2">
        <img
          src="img/coj_album.jpg"
          class="rounded"
          alt=""
          height="200px"
          width="200px"
        />
      </div>
      <div class="card-body">
        <div class="title">Hayaan</div>
        <div class="description text-gray-500 text-sm font-normal">
          Cup of Joe
        </div>
      </div>
    </div>
  </div>



  <div
    class="header font-bold text-2xl flex justify-between items-center p-4 bg--500"
  >
    Top Global
    <a
      href=""
      class="text-lg font-normal text-gray-500 text-sm hover:text-green-500 active:text-green-600"
    >
      <span class="material-symbols-rounded"> chevron_right </span>
    </a>
  </div>
  <div class="mb-8 px-2 flex overflow-x-scroll overflow-hidden hide-scrollbar">
    <div
      class="card bg-gray-900 p-4 rounded-lg shadow-sm w-[200px] mx-2 flex-shrink-0"
    >
      <div class="card-image mb-2">
        <img
          src="img/ben_and_ben_album.jpg"
          class="rounded"
          alt=""
          height="200px"
          width="200px"
        />
      </div>
      <div class="card-body">
        <div class="title">Araw-Araw</div>
        <div class="description text-gray-500 text-sm font-normal">
          Ben & Ben
        </div>
      </div>
    </div>

    <div
      class="card bg-gray-900 p-4 rounded-lg shadow-sm w-[200px] mx-2 flex-shrink-0"
    >
      <div class="card-image mb-2">
        <img
          src="img/coj_album.jpg"
          class="rounded"
          alt=""
          height="200px"
          width="200px"
        />
      </div>
      <div class="card-body">
        <div class="title">Hayaan</div>
        <div class="description text-gray-500 text-sm font-normal">
          Cup of Joe
        </div>
      </div>
    </div>

    <div
      class="card bg-gray-900 p-4 rounded-lg shadow-sm w-[200px] mx-2 flex-shrink-0"
    >
      <div class="card-image mb-2">
        <img
          src="img/ben_and_ben_album.jpg"
          class="rounded"
          alt=""
          height="200px"
          width="200px"
        />
      </div>
      <div class="card-body">
        <div class="title">Araw-Araw</div>
        <div class="description text-gray-500 text-sm font-normal">
          Ben & Ben
        </div>
      </div>
    </div>

    <div
      class="card bg-gray-900 p-4 rounded-lg shadow-sm w-[200px] mx-2 flex-shrink-0"
    >
      <div class="card-image mb-2">
        <img
          src="img/coj_album.jpg"
          class="rounded"
          alt=""
          height="200px"
          width="200px"
        />
      </div>
      <div class="card-body">
        <div class="title">Hayaan</div>
        <div class="description text-gray-500 text-sm font-normal">
          Cup of Joe
        </div>
      </div>
    </div>

    <div
      class="card bg-gray-900 p-4 rounded-lg shadow-sm w-[200px] mx-2 flex-shrink-0"
    >
      <div class="card-image mb-2">
        <img
          src="img/ben_and_ben_album.jpg"
          class="rounded"
          alt=""
          height="200px"
          width="200px"
        />
      </div>
      <div class="card-body">
        <div class="title">Araw-Araw</div>
        <div class="description text-gray-500 text-sm font-normal">
          Ben & Ben
        </div>
      </div>
    </div>

    <div
      class="card bg-gray-900 p-4 rounded-lg shadow-sm w-[200px] mx-2 flex-shrink-0"
    >
      <div class="card-image mb-2">
        <img
          src="img/coj_album.jpg"
          class="rounded"
          alt=""
          height="200px"
          width="200px"
        />
      </div>
      <div class="card-body">
        <div class="title">Hayaan</div>
        <div class="description text-gray-500 text-sm font-normal">
          Cup of Joe
        </div>
      </div>
    </div>

    <div
      class="card bg-gray-900 p-4 rounded-lg shadow-sm w-[200px] mx-2 flex-shrink-0"
    >
      <div class="card-image mb-2">
        <img
          src="img/ben_and_ben_album.jpg"
          class="rounded"
          alt=""
          height="200px"
          width="200px"
        />
      </div>
      <div class="card-body">
        <div class="title">Araw-Araw</div>
        <div class="description text-gray-500 text-sm font-normal">
          Ben & Ben
        </div>
      </div>
    </div>

    <div
      class="card bg-gray-900 p-4 rounded-lg shadow-sm w-[200px] mx-2 flex-shrink-0"
    >
      <div class="card-image mb-2">
        <img
          src="img/coj_album.jpg"
          class="rounded"
          alt=""
          height="200px"
          width="200px"
        />
      </div>
      <div class="card-body">
        <div class="title">Hayaan</div>
        <div class="description text-gray-500 text-sm font-normal">
          Cup of Joe
        </div>
      </div>
    </div>
  </div>


  <div
    class="header font-bold text-2xl flex justify-between items-center p-4 bg--500"
  >
    Top Local
    <a
      href=""
      class="text-lg font-normal text-gray-500 text-sm hover:text-green-500 active:text-green-600"
    >
      <span class="material-symbols-rounded"> chevron_right </span>
    </a>
  </div>
  <div class="mb-8 px-2 flex overflow-x-scroll overflow-hidden hide-scrollbar">
    <div
      class="card bg-gray-900 p-4 rounded-lg shadow-sm w-[200px] mx-2 flex-shrink-0"
    >
      <div class="card-image mb-2">
        <img
          src="img/ben_and_ben_album.jpg"
          class="rounded"
          alt=""
          height="200px"
          width="200px"
        />
      </div>
      <div class="card-body">
        <div class="title">Araw-Araw</div>
        <div class="description text-gray-500 text-sm font-normal">
          Ben & Ben
        </div>
      </div>
    </div>

    <div
      class="card bg-gray-900 p-4 rounded-lg shadow-sm w-[200px] mx-2 flex-shrink-0"
    >
      <div class="card-image mb-2">
        <img
          src="img/coj_album.jpg"
          class="rounded"
          alt=""
          height="200px"
          width="200px"
        />
      </div>
      <div class="card-body">
        <div class="title">Hayaan</div>
        <div class="description text-gray-500 text-sm font-normal">
          Cup of Joe
        </div>
      </div>
    </div>

    <div
      class="card bg-gray-900 p-4 rounded-lg shadow-sm w-[200px] mx-2 flex-shrink-0"
    >
      <div class="card-image mb-2">
        <img
          src="img/ben_and_ben_album.jpg"
          class="rounded"
          alt=""
          height="200px"
          width="200px"
        />
      </div>
      <div class="card-body">
        <div class="title">Araw-Araw</div>
        <div class="description text-gray-500 text-sm font-normal">
          Ben & Ben
        </div>
      </div>
    </div>

    <div
      class="card bg-gray-900 p-4 rounded-lg shadow-sm w-[200px] mx-2 flex-shrink-0"
    >
      <div class="card-image mb-2">
        <img
          src="img/coj_album.jpg"
          class="rounded"
          alt=""
          height="200px"
          width="200px"
        />
      </div>
      <div class="card-body">
        <div class="title">Hayaan</div>
        <div class="description text-gray-500 text-sm font-normal">
          Cup of Joe
        </div>
      </div>
    </div>

    <div
      class="card bg-gray-900 p-4 rounded-lg shadow-sm w-[200px] mx-2 flex-shrink-0"
    >
      <div class="card-image mb-2">
        <img
          src="img/ben_and_ben_album.jpg"
          class="rounded"
          alt=""
          height="200px"
          width="200px"
        />
      </div>
      <div class="card-body">
        <div class="title">Araw-Araw</div>
        <div class="description text-gray-500 text-sm font-normal">
          Ben & Ben
        </div>
      </div>
    </div>

    <div
      class="card bg-gray-900 p-4 rounded-lg shadow-sm w-[200px] mx-2 flex-shrink-0"
    >
      <div class="card-image mb-2">
        <img
          src="img/coj_album.jpg"
          class="rounded"
          alt=""
          height="200px"
          width="200px"
        />
      </div>
      <div class="card-body">
        <div class="title">Hayaan</div>
        <div class="description text-gray-500 text-sm font-normal">
          Cup of Joe
        </div>
      </div>
    </div>

    <div
      class="card bg-gray-900 p-4 rounded-lg shadow-sm w-[200px] mx-2 flex-shrink-0"
    >
      <div class="card-image mb-2">
        <img
          src="img/ben_and_ben_album.jpg"
          class="rounded"
          alt=""
          height="200px"
          width="200px"
        />
      </div>
      <div class="card-body">
        <div class="title">Araw-Araw</div>
        <div class="description text-gray-500 text-sm font-normal">
          Ben & Ben
        </div>
      </div>
    </div>

    <div
      class="card bg-gray-900 p-4 rounded-lg shadow-sm w-[200px] mx-2 flex-shrink-0"
    >
      <div class="card-image mb-2">
        <img
          src="img/coj_album.jpg"
          class="rounded"
          alt=""
          height="200px"
          width="200px"
        />
      </div>
      <div class="card-body">
        <div class="title">Hayaan</div>
        <div class="description text-gray-500 text-sm font-normal">
          Cup of Joe
        </div>
      </div>
    </div>
  </div>
</div>
