<div class="sticky top-0 p-4 shadow-sm bg-gray-900 border-b border-gray-800 flex justify-between items-center">
    <form action="" class=" w-1/2">
        <input type="text" name="" id="" class="w-3/4 text-base py-1 px-4 rounded-full outline-none focus:outline focus:outline-green-500 bg-gray-800" placeholder="Search">
    </form>
    <div class="account">
        <a href="" class=" px-4 py-2 rounded-full text-sm text-gray-500 font-medium mx-2 hover:text-green-500 active:text-green-600">
            Log in
        </a>
        <a href="" class="bg-green-500 px-4 py-2 rounded-full text-sm hover:bg-green-600 active:bg-green-700 text-gray-950 font-medium mx-2">
            Sign up
        </a>
    </div>
</div>