<div class="fixed bg-gray-900 border-t border-gray-800 shadow-sm p-4 bottom-0 w-full">
  <div class="container flex items-center justify-between mx-auto">
    <!-- left -->
    <div class="flex items-center w-64">
      <a href="" class="flex items-center justify-center">
        <img
          src="img/coj_album.jpg"
          alt=""
          height="48px"
          width="48px"
          class="rounded-full mx-4"
        />
        <div class="flex flex-col">
          <div class="text-md font-semibold">Hayaan</div>
          <div class="text-sm font-normal text-gray-500">Cup of Joe</div>
        </div>
      </a>
    </div>
    <!-- middle -->
    <div class="play flex flex-1 flex-col items-center justify-center">
      <div class="flex items-center justify-center mb-4">
        <a href="" class="flex mx-4">
          <span class="material-symbols-rounded text-4xl text-gray-500">
            skip_previous
          </span>
        </a>
        <a href="" class="flex mx-4">
          <span
            class="material-symbols-rounded text-3xl bg-green-500 rounded-full px-1 text-white"
          >
            pause
          </span>
        </a>
        <a href="" class="flex mx-4">
          <span class="material-symbols-rounded text-4xl text-gray-500">
            skip_next
          </span>
        </a>
      </div>
      <div class="w-3/4 bg-gray-800 h-1 rounded-lg overflow-hidden">
        <div class="bg-green-500 h-full rounded-lg" style="width: 40%"></div>
      </div>
    </div>
    <!-- right -->
    <div class="flex w-64 items-center justify-end">
      <a href="" class="flex hover:text-green-500">
        <span class="material-symbols-rounded"> menu </span>
      </a>
    </div>
  </div>
</div>
