<div class="fixed left-0 p-4 bg-gray-950 w-96 h-full shadow-sm border-e border-gray-800">
  <div class="flex flex-col">
    <!-- logo -->
    <div class="logo text-3xl text-green-500 font-bold mb-4">
      <a href="/" class="flex items-center">
        <img src="img/sooth-logo.png" alt="" height="26px" width="26p"/
        class="me-2"> Sooth.
      </a>
    </div>
    <!-- menu -->
    <div class="menu px-8">
      <ul class="text-gray-500 text-lg">
        <li
          class="menu-item  my-4"
        >
          <a href="/" class="hover:text-green-500 active:text-green-600 cursor-pointer">Home</a>
        </li>
        <li
          class="menu-item  my-4"
        >
          <a href="/search" class="hover:text-green-500 active:text-green-600 cursor-pointer">Search</a>
        </li>
        <li
          class="menu-item  my-4"
        >
          <a href="/playlist" class="hover:text-green-500 active:text-green-600 cursor-pointer">Playlist</a>
        </li>
        <li
          class="menu-item my-4"
        >
          <a href="/favorites" class="hover:text-green-500 active:text-green-600 cursor-pointer">Favorites</a>
        </li>
        <!-- <hr> -->
        <li
          class="menu-item my-4"
        >
          <a href="/profile" class="hover:text-green-500 active:text-green-600 cursor-pointer">Profile</a>
        </li>
        <!-- <li
          class="menu-item hover:text-green-500 active:text-green-600 cursor-pointer my-4"
        >
          <a href="/settings">Settings</a>
        </li> -->
      </ul>
    </div>
  </div>
</div>
